body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
img{
    width: 100%;
}
.container{
    margin-bottom: 40px;
}

.banner-cont{
   margin-top: 10vh;
}
.banner-cont h1 span{
    color: #21B573;                      
}
.banner-cont h6{
    color: #FD511A;
}
.banner-cont p{
    color: #6C6B6B;
    width: 70%;
}
.banner{
    background-color: #F0FFF0;
}
.banner img{
    margin-bottom: 5vh;
}
.navbar-nav{
    color: black;
    font-weight: bolder;
}
.logo{
    height: 65px;
}
button{
    background-color: #21B573;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #F0FFF0;
    font-size: 15px;
    font-weight: bolder;
}
/* -----------summary--------- */
.summary{
    display: flex; 
}
.summary-items{
    border-radius: 10px;
    display: inline-block;
    width: 270px;
    height: 270px;
    margin: 18px;
    padding: 26px;
    background-color: #F8FFFB;
}
.topic{
    box-shadow: 5px 5px 10px lightslategrey;
    background-color: #FFFF;
}
.summary-items img{
   height: 86px;
   width: 66px;
   margin-left: 25px;
}
.summary-items h4{
    color :#413960;
    font-weight: 700;
}

.summary-items p{
    color:#585859;
    font-weight: 600;
}
/* ---------card----------- */
.title{
    color: #413960;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 35px;
}
.card-img-top{
    width: 351px;
    height: 234px;
    padding: 15px;
}
.card{
    margin: auto;
    border: none;
    box-shadow: 5px 5px 15px lightslategrey;
    border-radius: 20px;
    height: 483px;
    width: 350px;
}
.card-title{
    color: #413960;
    font-weight: 600;
    font-size: 25px;
}
.card-text{
    color: #585859;
    font-weight: 400;
}
.card-footer{
    border-top: none;
    background-color: white;
    margin-bottom: 15px;
}
/* ------testimonial-------- */
.man{
    height: 200px;
    width: 200px;
}
.comment{
   width: 750px;
   padding-left: 8%;
}